@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
    color:Ivory;
    scroll-behavior: smooth;

}
body {
    background-image: url(images/bodyBackground.jpg);
}
header > h1 {
    padding-top: 10px;
    padding-left: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(0,5,5,1) 22%, rgba(39,40,52,1) 74%, rgba(93,109,110,1) 99%);
    height:80px;
    font-size: 50px;
    font-style: 100;
    color: white;
}
@media screen and (max-width: 500px) {
    header > h1 {
        font-size:30px;
        padding-top:40px;
    }
    #titleHeader > div > h2 {
        font-size: 20px;
    }
}
header > div > h2 {
    font-size:30px;
    padding-top: 10px;
    padding-left:40px;
    height:30px;
    padding-bottom:10px;
    color: white;
}
header > div {
    height: 60px;
    background: rgb(192,174,238);
    background: linear-gradient(308deg, rgba(192,174,238,1) 0%, rgba(8,11,14,1) 100%); 
}
nav {
    position: absolute;
    display: inline-flex;
    width:60%;
    float: right;
    left:38%;
    top:15px;
    padding-bottom:50px;
}
nav > ul {

    position: absolute;
    top: 0px;
    min-width: 100px;
}
nav > ul > li {
    display: inline;
    background: transparent;
    min-width:50px;
    border: lightcoral solid 1px;
    padding-left:30px;
    padding-right: 30px;
    margin-right: 10px;
    font-size: 30px;
    color: ivory;
    margin-left: 0px;
    text-align: center;
    list-style: none;
    
}
#mainSection {
    display: inline-flex;
    float: left;
    text-align: center;
    font-size: 30px;
    left:10px;
    width: 100%;
    margin-top:50%;
    padding:10px;
    color: white;
    min-height: auto;
    margin-bottom: 250px;
    
}
#mainSection > p {
    max-width:60%;
    padding:10px;
}

aside {
    text-align: left;
    font-size: 20px;
    color: white;
    padding: 10px;
    margin-right:20px;
    display: inline-flex;
    float: right;
    width:40%;
    background: rgba(44, 117, 117, 0.5);
    min-height:180px
}
#angel1254Big {
    width:100%;
}
#angel1254Big > p:nth-child(1) {
    font-size: 60px;
    color: ivory;
    display: inline-flexbox;
    left:35%;
    margin-top:10%;
    text-align: center;
    position: relative;
    width: 30%;
    transition: font-size 1s, color 1s;
}
#angel1254Big >p:nth-child(2) {
    display: inline-block;
    left:37.5%;
    font-size: 20px;
    text-align: center;
    position: relative;
    width: 25%;
    color: ivory;
    margin-top:10px;
    transition: font-size 1s, color 1s;
}

#angel1254Big > p:first-child:hover {
    font-size:70px;
    color:red;
}
#angel1254Big > p:last-child:hover {
    font-size:30px;
    color:red;
}
#backUp {
    display: inline-flex;
    position:relative;
    width:100%;
}

#backUp > p{
    font-size:20px;
    position:relative;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
    float:center;
    border: white solid 1px;
    width:30%;
    left:34%;
    color: white;
    transition: font-size 0.5s;
}
#backUp > p > a {
    text-align: center;
    transition: color 0.5s;
}
#backUp > p:hover{
    font-size:30px;
}
#backUp > p > a:hover {
    color: red;
}
footer {
    position:absolute;
    float:bottom;
    color: white;
}
@media screen and (max-width: 500px) {
    header > h1 {
        font-size:30px;
        padding-top:40px;
    }
    #titleHeader > div > h2 {
        font-size: 20px;
    }
    #navigationBar>ul>li {
        min-width:30px;
        color: red;
        font-size: 15px;
        padding:0;
    }
    #navigationBar>ul {
        padding-top:10px;
    }
    #angel1254Big > p:nth-child(1) {
        font-size:30px;

    }
    #angel1254Big > p:nth-child(1):hover {
        font-size:35px;
    }
    #angel1254Big > p:nth-child(2) {
        font-size:15px
    }
    #angel1254Big > p:nth-child(2):hover {
        font-size:20px;
    }
}
