@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 1%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
    color:Ivory;
    scroll-behavior: smooth;

}
body {
    background-image: url(images/bodyBackground.jpg);
}
header > h1 {
    padding-top: 10px;
    padding-left: 30px;
    background: rgb(0,0,0);
    background: linear-gradient(155deg, rgba(0,0,0,1) 0%, rgba(0,5,5,1) 22%, rgba(39,40,52,1) 74%, rgba(93,109,110,1) 99%);
    height:80px;
    font-size: 50px;
    font-style: 100;
    color: white;
}
header > div > h2 {
    font-size:30px;
    padding-top: 10px;
    padding-left:40px;
    height:30px;
    padding-bottom:10px;
    color: white;
}
header > div {
    height: 60px;
    background: rgb(192,174,238);
    background: linear-gradient(308deg, rgba(192,174,238,1) 0%, rgba(8,11,14,1) 100%); 
}
nav {
    position: absolute;
    display: inline-flex;
    width:60%;
    float: right;
    left:38%;
    top:15px;
    padding-bottom:50px;
}
nav > ul {

    position: absolute;
    top: 0px;
    min-width: 100px;
}
nav > ul > li {
    display: inline;
    background: transparent;
    min-width:50px;
    border: lightcoral solid 1px;
    padding-left:30px;
    padding-right: 30px;
    margin-right: 10px;
    font-size: 30px;
    color: ivory;
    margin-left: 0px;
    text-align: center;
    list-style: none;
    
}
main {
    margin-top: 5%;
    align-content: center;
    display: inline-flex;

}
main > section {
    text-align: center;
    color: white;
    font-size: 3vw;
    text-decoration: underline;
}
footer {
    position: absolute;
    margin: 0;
    padding: 0;
    display: inline-flex;
    float: left;
    bottom: 0%; 
    color: white;   
}
@media screen and (max-width: 500px) {
    header > h1 {
        font-size:30px;
        padding-top:40px;
    }
    header > div > h2 {
        font-size: 20px;
    }
    #navigationBar>ul>li {
        min-width:30px;
        color: red;
        font-size: 15px;
        padding:0;
    }
    #navigationBar>ul {
        padding-top:10px;
    }
}