@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
}
body {
    background-color: #080708;
    overflow-x: hidden;
    font-family: 'Poppins', 'sans-serif';
}
.none {
    background: #080708;
}
.navbar2 {
    background-color: #100c08;
}
.hero {
    margin-top: 4rem;
    background: #080708;
}
#projects-button {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: teal;
    border-radius: 1rem;
    border: 2px white solid;
    padding: 30px;
    color:white;
    font-size: 1.5rem;
    transition: 500ms;
}

#projects-button:hover {
    transform: scale(1.05);
    background-color:#50c878;
    text-decoration: underline 1px white;
    cursor:pointer;
    
}
.projectCardPicture {
    position: relative;
    transition:600ms;
    z-index: 10;
}

.p-color-overlay {
    opacity:0.5;
    transition: 0.2s;
}
.projectCardBody {
    transition: 0.5s;
}
#projectCard {
    margin-top: 5px;
    margin-bottom: 5px;
    background-size: 100%;
    background-position-y:50%;
    background-repeat:no-repeat;
}

#projectCard:hover .p-color-overlay{
    opacity: 1;
}
#projectCard:hover .projectCardPicture {
    border-radius: 25px 25px 25px 25px;
    transform: translateX(-30vw);
}
#projectCard:hover .projectCardBody {
    opacity: 1;
}

.leader-lg {
    opacity: 0;
    animation: Fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', 'sans-serif';
    font-weight:500;
}
.leader2-lg {
    opacity: 0;
    animation: Fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', 'sans-serif';
    font-weight:100;
}
.leader-subtitle {
    opacity: 0;
    animation: Fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.leader-descriptor {
    opacity: 0;
    animation: Fadein 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', 'sans-serif';
    font-weight:300;
}

.leader-lg-card {
    opacity: 0;
    animation: Fadein 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', 'sans-serif';
    font-weight:500;
}
.leader2-lg-card {
    opacity: 0;
    animation: Fadein 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', 'sans-serif';
    font-weight:100;
}
.leader-subtitle-card {
    opacity: 0;
    animation: Fadein 0.4s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.leader-descriptor-card {
    opacity: 0;
    animation: Fadein 0.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    font-family: 'Poppins', 'sans-serif';
    font-weight:300;
}
.hero-container {
    background: transparent;
    overflow-x:auto
}
.yellow {
    z-index: 1;
    animation: growpoprot 0.5s, 10s rotinf 2s infinite;
}
.red {
    z-index: 2;
    position: absolute;
    animation: growpoprot 0.5s, 10s rotinf 2s infinite;
    
}
.blue {
    z-index: 0;
    position: absolute;
    animation:growpoprot 0.5s, 10s rotinf 2s infinite;
}
.bbl {
    opacity:0;
    z-index: 3;
    width: 10rem;
    animation: Fadein 1.0s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;
}
.svg-size {
    width:100px;
    height:100px;
}
.social-link-svg {
    margin-top: 1rem;
    margin-bottom: 1rem;
    transition: 1s;
    border-radius: 5px;
}
.social-links-container {
    opacity: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px white solid;
    border-left: 1px white solid;
    animation: Fadein 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
#social-1 {
    opacity: 0;
    animation: Fadein 0.2s;
    animation-delay: 3.1s;
    animation-fill-mode: forwards;
    opacity: 1;
}
#social-2 {
    opacity: 0;
    animation: Fadein 0.2s;
    animation-delay: 3.2s;
    animation-fill-mode: forwards;
}
#social-3 {
    opacity: 0;
    animation: Fadein 0.2s;
    animation-delay: 3.3s;
    animation-fill-mode: forwards;
}
#social-4 {
    opacity: 0;
    animation: Fadein 0.2s;
    animation-delay: 3.4s;
    animation-fill-mode: forwards;
}

.social-link-svg:hover {
    transform:scale(1.1);
    background-color: rebeccapurple;
}

.projlink {
    color: white;
    transition: 0.4s;
}
.projlink:hover {
    color: #4078c0;
}

@keyframes growpoprot {
    from {
        transform: scale(0%) rotate(-60deg);
    }
    to {
        transform: scale(100%) rotate(0deg);
    }
}
@keyframes growpop {
    from {
        transform: scale(0%);
    }
    to {
        transform: scale(100%);
    }
}
@keyframes growpopfade {
    from {
        transform: scale(0%);
        opacity: 1;
    }
    tp {
        transform: scale(100%);
        opacity: 1;
    }
}
@keyframes Fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes rotinf {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 768px) {
    .custom-fa-size {
        font-size:3rem;
    }
  }
  @media screen and (max-width: 767px) {
    .custom-fa-size {
        font-size:5rem;
    }
  }

  /* Scrollbar inspiration from https://dev.to/xtrp/how-to-create-a-beautiful-custom-scrollbar-for-your-site-in-plain-css-1mjg */
  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color:lightslategray;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
    transition: 0.3s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: ivory;
  }
  .picture-circle {
      background-size:cover;
      background-image:none;
      background-position: center;
      animation: 1s colorIn 10s;
      animation-fill-mode: forwards;
  }
  #hero-content {
      transition: 1s;
  }
  #picture-circle-overlay {
     transition: 1s;
     opacity: 1;
     animation: 1s FadeOut 0.2s ;
     animation-fill-mode: forwards;
  }
  #picture-circle-overlay:hover {
      opacity:0;
  }

  @keyframes colorIn {
      from {
        transform:scale(0);
      }
      to {
        transform:scale(1);
      }
  }

  @keyframes colorSwitch {
      0% {
          background-color: white;
      }
      25% {
          background-color: #DF2935;
      }
      50% {
          background-color: #3772FF;
      }
      75% {
          background-color: #F1C21B;
      }
      100% {
          background-color:white;
      }
  }

  @keyframes FadeOut {
      from {
          transform: scale(1);
      }
      to {
          transform:scale(0);
          opacity:0;
      }
  }